h1{
	text-align: center;
}
.img{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: space-between;
	}	

	.img img{
		width: 20%;
	}

@media screen (max-width: 781px){
	.img{
	display: flex;
	
	flex-direction: column;
	align-items: center;
	}	
}

@media screen (min-width: 780px){
	.img{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: space-between;
	}	

	.img img{
		width: 20%;
	}
}


