body{
	text-align: center;
}
.img{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: space-between;
	}	

	img{
		width: 40%;
	}

@media only screen and (max-width: 781px){
	.img{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	img
	{
		width: 100%
	}
}

@media only screen and (min-width: 780px){
	.img{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: space-between;
	}	

	img{
		width: 40%;
	}
}


